<!DOCTYPE html>
<html>
<head>
	<title>About Us Section</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
	<link rel="stylesheet" type="text/css" href="css/about.css">
</head>	
<body>
	<div class="section">
		<div class="container">
			<div class="content-section">
				<div class="title">
					<h1>Sobre nós</h1>
				</div>
				<div class="content">
					<h3> Somos o Emanuel, a Cristina e a Andreina, responsáveis pela marca de sabonetes artesanais Nada + que nasceu na Ilha da Madeira durante o período de confinamento em 2020. <br> <br>
						A ideia surgiu da nossa vontade de criar um produto amigo do ambiente, sem químicos nocivos à nossa saúde, com o lema zero plástico. 
						Cada sabão é pensado ao pormenor, primeiro pelo cuidado especial na escolha dos ingredientes, depois pelo seu design. <br> <br>
						Procuramos criar uma experiência multi sensorial no utilizador, ao usufruir dos nossos sabões. 
						Acreditamos profundamente que devemos fazer a nossa parte no que toca a cuidar do nosso planeta, por isso reduzir os produtos químicos que eliminamos nas nossas águas, reduzir o volume de lixo e de plástico são fortes crenças nossas..</p>
					<div class="button">
						<a href="">contactos</a>
					</div>
				</div>
				<div class="social">
					<a href="https://www.facebook.com/nada.maisss"target="_blank"><i class="fab fa-facebook-f"></i></a>
					<a href="https://www.instagram.com/_nada.mais_/" target="_blank"><i class="fab fa-instagram"></i></a>
				</div>
				
			</div>
			<div class="image-section">
				<img src="img/about.jpg">
			</div>
		</div>
	</div>

	
</body>
</html>