<!DOCTYPE html>
<html>
<head>
	<title>Contactos</title>
	<link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/contacts.css">
</head>
<body>
	<div class="contain">
		<div class="contact-box">
			<div class="lefta"></div>
			<div class="righta">
				<h2>Contacte-nos</h2>
				<input type="text" class="field" placeholder="Seu Nome">
				<input type="text" class="field" placeholder="Seu Email">
				<input type="text" class="field" placeholder="Contacto Telefónico">
				<textarea placeholder="Menssagem" class="field"></textarea>
				<button class="butn">Enviar</button>
			</div>
		</div>
	</div>
</body>
</html>