

	<!-- Hero section -->
	<section class="hero-section">
		<div class="hero-slider owl-carousel">
			<div class="hs-item set-bg" data-setbg="img/pic6.jpg">
				<div class="container">
					<div class="row">
						<div class="col-xl-6 col-lg-7 text-white">
							<span>Sabão Natural</span>
							<h2>Nada+</h2>
							<p>Aqui podem encontrar produtos para o cuidado <br>
								do corpo e cabelo, para lavar e nutrir, respeitando a sua saúde e Natureza.</p>
							<a href="/products" class="site-btn sb-white">Ver mais</a>
						</div>
					</div>
				</div>
			</div>
			<div class="hs-item set-bg" data-setbg="img/pic1.jpg">
				<div class="container">
					<div class="row">
						<div class="col-xl-6 col-lg-7 text-white">
							<span>Sabão Natural</span>
							<h2>Nada+</h2>
							<p>Sabia que... <br>
                                todos os produtos que aplicamos na nossa pele deviam ser comestíveis? </p>
							<a href="/about" class="site-btn sb-white">Sobre nós</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Hero section end -->

	<!-- letest product section -->
	<section class="top-letest-product-section">
		<div class="container">
			<div class="section-title">
				<h2>Novos produtos</h2>
			</div>
			<div class="product-slider owl-carousel">
				<div class="product-item">
					<div class="pi-pic">
						<img src="./img/pic17.jpg" alt="">
						<div class="pi-links">
							<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
						</div>
					</div>
					<div class="pi-text">
						<h6>6,5€</h6>
						<p>Proteína de Seda</p>
					</div>
				</div>
				<div class="product-item">
					<div class="pi-pic">
						<img src="./img/pic2.jpg" alt="">
						<div class="pi-links">
							<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
						</div>
					</div>
					<div class="pi-text">
						<h6>7€</h6>
						<p>Carvão ativado</p>
					</div>
				</div>
				<div class="product-item">
					<div class="pi-pic">
						<img src="./img/pic3.jpg" alt="">
						<div class="pi-links">
							<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
						</div>
					</div>
					<div class="pi-text">
						<h6>7€</h6>
						<p>Leite de Côco</p>
					</div>
				</div>
				<div class="product-item">
						<div class="pi-pic">
							<img src="./img/pic12.jpg" alt="">
							<div class="pi-links">
								<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
							</div>
						</div>
						<div class="pi-text">
							<h6>7€</h6>
							<p>Argila/Vitamina E,B5 </p>
						</div>
					</div>
				<div class="product-item">
						<div class="pi-pic">
							<img src="./img/pic31.jpg" alt="">
							<div class="pi-links">
								<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
							</div>
						</div>
						<div class="pi-text">
							<h6>4,5€</h6>
							<p>Carvão ativado </p>
						</div>
					</div>
			</div>
		</div>
	</section>
	<!-- letest product section end -->