

	<!-- Hero section -->
	<section class="hero-section">
		<div class="hero-slider owl-carousel">
			<div class="hs-item set-bg" data-setbg="img/abc.jpg">
				<div class="container">
					<div class="row">
						<div class="col-xl-6 col-lg-7 text-white">
							<span>Sabão Natural</span>
							<h2>Nada+</h2>
							<p>Aqui podem encontrar produtos para o cuidado <br>
								do corpo e cabelo, para lavar e nutrir, respeitando a sua saúde e Natureza.</p>
							<a href="/products" class="site-btn sb-white">Ver mais</a>
						</div>
					</div>
				</div>
			</div>
			<div class="hs-item set-bg" data-setbg="img/k9.jpg">
				<div class="container">
					<div class="row">
						<div class="col-xl-6 col-lg-7 text-white">
							<span>Sabão Natural</span>
							<h2>Nada+</h2>
							<p>Sabia que... <br>
                                todos os produtos que aplicamos na nossa pele deviam ser comestíveis? </p>
							<a href="/about" class="site-btn sb-white">Sobre nós</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Hero section end -->

	<!-- letest product section -->
	<section class="top-letest-product-section">
		<div class="container">
			<div class="section-title">
				<h2>Novos produtos</h2>
			</div>
			<div class="product-slider owl-carousel">
				<div class="product-item">
					<div class="pi-pic">
						<img src="./img/a4.jpg" alt="">
						<div class="pi-links">
							<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
						</div>
					</div>
					<div class="pi-text">
						<h6>4,5€</h6>
						<p>Sabão de lavanda</p>
					</div>
				</div>
				<div class="product-item">
					<div class="pi-pic">
						<img src="./img/ab3.jpeg" alt="">
						<div class="pi-links">
							<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
						</div>
					</div>
					<div class="pi-text">
						<h6>4,5€</h6>
						<p>Oléo de abacate/côco</p>
					</div>
				</div>
				<div class="product-item">
					<div class="pi-pic">
						<img src="./img/ab1.jpeg" alt="">
						<div class="pi-links">
							<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
						</div>
					</div>
					<div class="pi-text">
						<h6>4,5€</h6>
						<p>Argila rosa e branca</p>
					</div>
				</div>
				<div class="product-item">
						<div class="pi-pic">
							<img src="./img/b4.jpg" alt="">
							<div class="pi-links">
								<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
							</div>
						</div>
						<div class="pi-text">
							<h6>4,5€</h6>
							<p>Sabão de Menta </p>
						</div>
					</div>
				<div class="product-item">
						<div class="pi-pic">
							<img src="./img/k3.jpg" alt="">
							<div class="pi-links">
								<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
							</div>
						</div>
						<div class="pi-text">
							<h6>1,6€</h6>
							<p>Sabão azul</p>
						</div>
					</div>
			</div>
		</div>
	</section>
	<!-- letest product section end -->
	
	  <!-- Footer section -->
    <section class="footer-section">
      <div class="social-links-warp">
        <div class="container text-center">
          <div class="social-links">
            <a href="https://www.instagram.com/_nada.mais_/" target="_blank" class="instagram"><i class="fa fa-instagram"></i><span>instagram</span></a>
            <a href="https://www.facebook.com/nada.maisss" target="_blank" class="facebook"><i class="fa fa-facebook"></i><span>facebook</span></a>
          </div>

        </div>
      </div>
    </section>
    <!-- Footer section end -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.slicknav.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/jquery.zoom.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/main.js"></script>

    <script src="/js/script.js"></script>
  </body>

</html>