.text p>a{
    color: rgb(32, 78, 80);
    font-size: 30px;
    padding-top: 10px;
    text-align: center;
}

.text p {
    color: rgb(56, 30, 80);
}

h1{
   margin-top: 5%;
   align-items: center;
   margin-left: 45%;
   font-size: 50px;
   margin-bottom: 40px;
   color: rgb(79, 32, 83);
}
.container-box-product {
    display: flex;
   flex-direction: row;
   flex-wrap: wrap;
    width: 90%;
    margin: auto;
    justify-content: center;
}

.containers-small-product{
    width: 30%;
    padding: 10px;
    margin: 10px;
}

.imgpic{
    height: 40vh;
    width: 30vw;
    background-repeat: no-repeat;
    background-size: contain;
}

.buttons{
    
        background-color: #905292;
        border: none;
        color: rgb(255, 255, 255);
        padding: 10px 22px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        position: fixed;
        bottom: 560px;
        right: 10px; 
        border-radius: 20px;
       
}