<h2>Add new Soap</h2>
 <form action="/new-product" method="POST">  
    <label>Name:</label>
    <input type="text" name="name" />
    <br>
    <label>Description:</label>
    <textarea name="description" rows="4" cols="20"></textarea>
    <br>
    <label>Durability:</label>
    <input type="text" name="durability" />
    <br>
    <label>Weight:</label>
    <input type="text" name="weight" />
    <br>
    <label>Price:</label>
    <input type="text" name="price" />
    <br>
    <button type="submit">Add Soap</button>
</form>