
    
<link rel="stylesheet" href="css/products.css">

<h1>Produtos</h1>

    <div class="container-box-product">
{{#each soapsList}}

        <div class="containers-small-product">
        <img src="{{imageUrl}}" class="imgpic" > 
        <div class="text">
                <p><a href="product-detail/{{_id}}">{{name}}</a> </p>
                <p> {{price}} </p>
        </div>
        </div>
        
{{/each}}
    </div>

{{#if loggedInUser}}
    <a class="buttons" href="new-product"> Add new Soap</a>
{{/if}}

